[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CaseCohortCoxSurvival"]
	path = CaseCohortCoxSurvival
	url = https://github.com/cran/CaseCohortCoxSurvival
